.container2{
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
}
.marks{
    width: 120px;
    height: 60px;
    cursor: pointer;
}
.d_main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 40px;
}